html {
    background-color: black;
    font-family: Verdana;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Verdana;
    font-weight: 300px;
    font-size: 42px;
    color: white;
    text-align: center;
}

.sub-heading {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

.link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
}

.container {
    width: 100%;
    text-align: center;
}

.phone-image {
    height: 30rem;
}